body {
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
   /* width: 1440px; */
   /*margin: 0 auto; */
}

.container {
  /* position: relative;*/
  /* overflow-x: hidden; */
  border: 1px solid green;

}

.navigation {
  background: -webkit-gradient(linear, 0 0, 0 100%,
  from(rgba(0, 0, 0, .2)),
  color-stop(0.05, rgba(0, 0, 0, 0)),
  color-stop(0.97, rgba(0, 0, 0, 0)),
  to(rgba(0, 0, 0, .45))),
  -webkit-gradient(linear, 0 0, 100% 0,
  from(rgba(0, 0, 0, .2)),
  color-stop(0.002, rgba(0, 0, 0, 0)),
  color-stop(0.998, rgba(0, 0, 0, 0)),
  to(rgba(0, 0, 0, .2))),
  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA9QAAAAkCAMAAABfcIIyAAAAGXRFW…px%2BeQqLpPJDae9P5%2FmrVz491%2FWekBlKy7PXVfn9rb9xXsMD2wdOcAAAAAElFTkSuQmCC) no-repeat 50% 50%,
  -webkit-gradient(linear, 0 100%, 0 0, from(#666),
  color-stop(0.5, #5e5e5e),
  color-stop(0.51, #707070),
  to(#808080));
  height: 36px;
  position: absolute;
  top: 5.2rem;
  left: 16.5%;
  margin: 0 auto;
  z-index: 900;
  border-radius: 4px;
  box-shadow: rgba(0,0,0,0.3) 0 1px 2px;

}

.navigation-ul {
 width: 845px;
}

.navigation-link:link,
.navigation-link:visited{

text-decoration: none;
color: white;


}

/* .navigation-link:not(:first-child):hover {
  text-decoration: underline;
} */

.navigation-span {
  /* background-position: 50% -30px; */
  /* padding: 15px; */
  /* width: 100%; */
  position: absolute;
  top: 50%;
  /* left: 50%; */
  transform: translate(-50%,-50%);
}

.navigation-icon {
  color: white;
  font-size: 1.4rem;
}

.navigation-ul-list {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 35px;
  text-align: center;
}

.navigation-ul-list:not(:first-child) {
  margin-left: -4px;
}


.navigation-ul-list:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.navigation-ul-list {
  border-width: 0 2px 0 1px;
  border-top-width: 0px;
  border-right-width: 2px;
  border-bottom-width: 0px;
  border-left-width: 1px;
  border-style: solid;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  -o-border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAQAAABTNcdGAAAAEUlEQVQIHWP4r8bA8F%2BKwQEADZUCf37PGokAAAAASUVORK5CYII%3D) 0 2 0 1;
  -ms-border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAQAAABTNcdGAAAAEUlEQVQIHWP4r8bA8F%2BKwQEADZUCf37PGokAAAAASUVORK5CYII%3D) 0 2 0 1;
  -moz-border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAQAAABTNcdGAAAAEUlEQVQIHWP4r8bA8F%2BKwQEADZUCf37PGokAAAAASUVORK5CYII%3D) 0 2 0 1;
  -webkit-border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAQAAABTNcdGAAAAEUlEQVQIHWP4r8bA8F%2BKwQEADZUCf37PGokAAAAASUVORK5CYII%3D) 0 2 0 1;
}

.navigation-ul-list:hover {
  background: #575757;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAkCAQAAADifZiHAAAAJ0lEQ…zE8JeJ4R8q%2Bo%2BKCIH%2FjEA1TAyMSIgJRkIQM9BYAGa0Dj%2FXpUiAAAAAAElFTkSuQmCC) repeat-x 0 0, url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAABCAQAAACvIOyMAAAAE0lEQVQIW2P8z8jAwMAIh0wICAAa0gETv9XXOgAAAABJRU5ErkJggg%3D%3D) repeat-y 100% 0, url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAABCAQAAACvIOyMAAAAEklEQVQIW2P8L8TwDwn%2Bh0MGAKnjDAIoAAlcAAAAAElFTkSuQmCC) repeat-y 0 0, rgba(0, 0, 0, .4);
}

.navigation-search {
  width: 100%;
  /* margin-left: -20px; */
  height: 20px;
  /* padding: 2px 18px 1px 22px; */
  background-image: none;
  border-radius: 12px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-transition: color, text-shadow 0.3s, 0.3s;
  background-color: rgba(255,255,255,.1);
  /* z-index: 0; */
}

.search-icon {
  position: absolute;
  top: 5px;
  /* left: 91px; */
  color: white;
  z-index: 9000;
}

/* styling the section-hero */

.section-hero {
  /* border: 1px solid red; */
  height: 87vh;
  position: relative;
  background: #5e5e5e url(/img/hero_2x.jpg) 50% 100% no-repeat;
  background-size: 1300px 1315px;

}

.section-header {
  /* border: 1px solid red; */
  margin-top: -8rem;
  text-align: center;
  position: relative;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 0;
}

.section-headline {
  /* font-size: 24px;
  line-height: 36px; */
  /* display: inline-block;
  z-index: 0; */
}

.section-header-img {

}

.img-one {
  /* display: inline-block; */
}

.img-two {
  display: inline-block;
  width: 100%;
}



.img-three {
  display: inline-block;
}


.section-sub-headline {
   /* border: 1px solid red; */
   width: 72%;
   position: relative;
   left: 13.49%;
   margin-top: -1rem;
   z-index: 100;
}

.section-cta {
  /* border: 1px solid red; */
  text-align: center;
  margin-top: 19.2rem;
  /* width: 72%; */

}

/* styling the aside section */

.promos {
  /* border: 1px solid red; */
  width: 100%;
  height: 205px;
  margin-top: 2px;
  overflow: hidden;
}

.promos-ul {
  margin: 0 auto;
  min-width: 1024px;
  width: 100%;
  max-width: 1440px;
  /* height: 200px; */
  text-align: center;
}


.promos-list {
  /* display: inline-block; */
float: left;
margin: 0;
height: 200px;
width:25%;
overflow: hidden;
}


.promos-link {
  display: inline-block;
  /* overflow: hidden; */
  cursor: pointer;
}

.phone5s {

}

.phone5c {

}

.mac-birthday {

}

.responsibility {

}

/* styling the footer */

.footer {
  /* border: 1px solid red; */
  min-width: 980px;
  width: 100%;
  height: 90px;
  padding: 0;
  color: #6e6e6e;
  font-size: .8334em;
  line-height: 1.2;
  text-align: center;
  zoom: 1;
}

.footer-wrapper {
  /* border: 1px solid grey; */
  margin: 0 auto;
  width: 980px;
  padding: 1em 0 2.6em;
  overflow: hidden;
}

.footer-wrapper-left-detail {
  float: left;
  /* clear: both; */
  width: 49%;
  padding-top: 1.5em;
  text-align: left;

}

.left-detail-link {
text-decoration: none;
color: #08c;
}

.left-detail-link:hover {
  text-decoration: underline;
  color:color: #08c;
  cursor: pointer;
  }

  .footer-wrapper-right-links {
    float: right;
    width: 51%;
    padding-top: .2rem;
    text-align: right;
    /* display: inline; */
  }

  .right-list {
    display: inline-block;
    /* float: none; */
    margin-left: .1rem;
    padding-left: .1rem;
    border-left: 1px solid #ccc;

  }

  .right-list:first-child {
    border: none;
  }

  .right-list-link {
    text-decoration: none;
    color: #08c;
  }

  .right-list-link:hover {
    text-decoration: underline;
  }



  .first-item {
    /* margin-left: 0;
    padding-left: 0;
    border-left: none; */
  }

  .worldwide {
    /* width: 16px;
    height: 12px; */
    /* margin-top: 10rem; */
    /* position: relative;
    z-index: 1;
    width: 16px;
    height: 12px;
     zoom: 1; */
  }

  .copyright-details {
    /* border: 1px solid brown; */
    /* float: left; */
    /* clear: both; */
    width: 50.7%;
    margin-top: -1rem;
    /* padding-top: .1rem; */
    text-align: center;
    /* border-left: 1px solid #ccc; */
  }

  .copyright-details:last-child {
    /* border-left: 1px solid black; */
  }

  .copyright, .terms  {
    display: inline;
    margin: 0;
  }

  /* .terms {
    display: inline;
    margin: 0;
  } */

  .terms-details {
    margin-left: 0;
    padding-left: 0;
    display: inline-block;
  }

  .terms-details:last-child {
    border-left: 1px solid #ccc;
    padding-left: .4rem;
  }

  .terms-details:first-child {
    padding-right: .3rem;
  }


  .term-link {
    /* display: inline-block; */
    font-size: 10px;
    color: #08c;
    text-decoration: none;
  }

  .term-link:hover {
    text-decoration: underline;
  }

















