body {
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
   /* width: 1440px; */
   /*margin: 0 auto; */
}

.main {
  /* position: relative;*/
  /* overflow-x: hidden; */
}

.navigation {
  background: -webkit-gradient(linear, 0 0, 0 100%,
  from(rgba(0, 0, 0, .2)),
  color-stop(0.05, rgba(0, 0, 0, 0)),
  color-stop(0.97, rgba(0, 0, 0, 0)),
  to(rgba(0, 0, 0, .45))),
  -webkit-gradient(linear, 0 0, 100% 0,
  from(rgba(0, 0, 0, .2)),
  color-stop(0.002, rgba(0, 0, 0, 0)),
  color-stop(0.998, rgba(0, 0, 0, 0)),
  to(rgba(0, 0, 0, .2))),
  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA9QAAAAkCAMAAABfcIIyAAAAGXRFW…px%2BeQqLpPJDae9P5%2FmrVz491%2FWekBlKy7PXVfn9rb9xXsMD2wdOcAAAAAElFTkSuQmCC) no-repeat 50% 50%,
  -webkit-gradient(linear, 0 100%, 0 0, from(#666),
  color-stop(0.5, #5e5e5e),
  color-stop(0.51, #707070),
  to(#808080));
  height: 36px;
  position: absolute;
  top: 5.2rem;
  left: 16.5%;
  margin: 0 auto;
  z-index: 900;
  border-radius: 4px;
  box-shadow: rgba(0,0,0,0.3) 0 1px 2px;

}

.navigation-ul {
 width: 845px;
}

.navigation-link:link,
.navigation-link:visited{

text-decoration: none;
color: white;


}

/* .navigation-link:not(:first-child):hover {
  text-decoration: underline;
} */

.navigation-span {
  /* background-position: 50% -30px; */
  /* padding: 15px; */
  /* width: 100%; */
  position: absolute;
  top: 50%;
  /* left: 50%; */
  transform: translate(-50%,-50%);
}

.navigation-icon {
  color: white;
  font-size: 1.4rem;
}

.navigation-ul-list {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 35px;
  text-align: center;
}

.navigation-ul-list:not(:first-child) {
  margin-left: -4px;
}


.navigation-ul-list:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.navigation-ul-list {
  border-width: 0 2px 0 1px;
  border-top-width: 0px;
  border-right-width: 2px;
  border-bottom-width: 0px;
  border-left-width: 1px;
  border-style: solid;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  -o-border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAQAAABTNcdGAAAAEUlEQVQIHWP4r8bA8F%2BKwQEADZUCf37PGokAAAAASUVORK5CYII%3D) 0 2 0 1;
  -ms-border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAQAAABTNcdGAAAAEUlEQVQIHWP4r8bA8F%2BKwQEADZUCf37PGokAAAAASUVORK5CYII%3D) 0 2 0 1;
  -moz-border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAQAAABTNcdGAAAAEUlEQVQIHWP4r8bA8F%2BKwQEADZUCf37PGokAAAAASUVORK5CYII%3D) 0 2 0 1;
  -webkit-border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAQAAABTNcdGAAAAEUlEQVQIHWP4r8bA8F%2BKwQEADZUCf37PGokAAAAASUVORK5CYII%3D) 0 2 0 1;
}

.navigation-ul-list:hover {
  background: #575757;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAkCAQAAADifZiHAAAAJ0lEQ…zE8JeJ4R8q%2Bo%2BKCIH%2FjEA1TAyMSIgJRkIQM9BYAGa0Dj%2FXpUiAAAAAAElFTkSuQmCC) repeat-x 0 0, url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAABCAQAAACvIOyMAAAAE0lEQVQIW2P8z8jAwMAIh0wICAAa0gETv9XXOgAAAABJRU5ErkJggg%3D%3D) repeat-y 100% 0, url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAABCAQAAACvIOyMAAAAEklEQVQIW2P8L8TwDwn%2Bh0MGAKnjDAIoAAlcAAAAAElFTkSuQmCC) repeat-y 0 0, rgba(0, 0, 0, .4);
}

.search {
position: absolute;
top: 45.5%;
right: -1%;
width: 106px;


background: none;
border-width: 0 2px 0 1px;
z-index: 0;

background: none;
border-width: 0 2px 0 1px;
  -o-transition: width 0.3s ease-in-out;
  -ms-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -webkit-transition: width 0.3s ease-in-out;
  transform: translate(-30%, -50%);
  /* width: 30%; */
  height: 25px;
  border: 1px solid red;
  color: #fff;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  /* border-bottom-color: #808080;
  border-left-color: #808080;
  border-right-color: #808080;
  border-top-color: rgb(0, 0, 0);
  border-top-color: rgba(0, 0, 0, .45); */
  padding: 8px 20px;
  background: none;
  /* transition: all .1s; */
}

.form-search {
  /* position: relative;
  padding: 0;
  width: 100%;
  margin-top: -6px; */
  /* margin-left: -17px; */
  /* height: auto; */
  /* background-image: none;
  background-color: rgba(255,255,255,.1);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.6) 0 2px 1px inset, rgba(255, 255, 255, 0.2) 0 1px 0; */
}

.navigation-search {
  width: 100%;
  /* margin-left: -20px; */
  height: 20px;
  /* padding: 2px 18px 1px 22px; */
  background-image: none;
  border-radius: 12px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-transition: color, text-shadow 0.3s, 0.3s;
  background-color: rgba(255,255,255,.1);
  /* z-index: 0; */
}

.search-icon {
  position: absolute;
  top: 5px;
  /* left: 91px; */
  color: white;
  z-index: 9000;
}



/* styling the  article-billboard class */

.article-hero {
  height: 87vh;
  margin: 0 auto;
  margin-top: -1rem;
  background: #5e5e5e url(/img/hero_2x.jpg) 50% 100% no-repeat;
  background-position: bottom;
  background-size: cover;
  background-size: 1440px 1315px;
}


.article-section {
  position: relative;
  top: 30%;
    z-index: 900;
    width: 100%;
    /* height: auto; */
    color: white;
    text-align: center;
    /* border: 1px solid black; */

}

.section-link {

}

.section-header {
  /* position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  border: 1px solid black;
  margin-top: -170px;
  padding: 50px 0; */
  /* background: url(/img/your_verse_title_small.png) 0 50% no-repeat; */
  /* background-size: 25px 335px;
  font-size: 3rem;
  line-height: 2; */
  position: relative;
  top: 50%;
  right: 0;
  left: 0;

}

.section-headline {
  /* display: inline-block;
  height: 1vh; */
  /* border: 1px solid red; */
  display: inline-block;
  z-index: 0;

  /* height: 6vh; */
}

.img-one {
  display: inline-block;
  /* margin-left: auto;
  margin-right: auto; */
}


.section-sub-headline {
  display: inline-block;
  position: absolute;
  top: 84.7%;
  right: 0;
  left: 14%;
  z-index: 100;
  /* border: 1px solid red; */
  width: 72%;
}

.img-two {
  display: inline-block;
  width: 100%;
}

.article-cta {
  position: absolute;
  top: 185%;
  right: 0;
  left: 0;
  /* border: 1px solid red; */
  text-align: center;
  /* height: 5px; */
  /* z-index: 100; */
}

.img-three {
  display: inline-block;
  /* height: 5vh; */
  /* width: 100%; */
}


/* styling the aside section */

.promos {
  /* position: absolute;
  z-index: 1;
  bottom: -40px;
  overflow: hidden;
  width: 100%;
  height: 200px; */
  /* border: 1px solid black; */
  width: 100%;
  height: 205px;
}

.promos-ul {
  /* text-align: center;
  width: 364px; */
  /* display: inline-block; */
  /* position: relative;
  z-index: 1;
  overflow: hidden;

  min-width: 1024px;
  width: 100%;
  max-width: 1440px;
  height: 200px;
  text-align: center; */
}

.promos-list {
  display: inline-block;
  width:24%;
  overflow: hidden;
  /* width: 55%; */
  /* position: relative;
    z-index: 1;
    float: left;
    overflow: hidden;
    margin: 0;
    width: 25%;
    height: 200px;
    display: inline-block; */
}

.promos-list:not(:last-child) {
  margin-top: 2px;
  margin-left: 13.8px;
}



.promos-link {

  /* position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  overflow: hidden;
  cursor: pointer; */
}

.phone5s {
  /* width: 100%; */
}



